* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

body,
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.flex-v-center {
  align-items: center;
}

.flex-h-center {
  justify-content: center;
}

.flex-h-around {
  justify-content: space-around;
}

.flex-h-bet {
  justify-content: space-between;
}

.full-screen-height {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.no-border {
  border: none;
}

.bg-transparent {
  background: transparent;
}
